[Unit]
Description=Restic check of the PaperMC data (taijotain)

[Service]
Type=oneshot
TimeoutStopSec=600
Restart=on-failure
RestartSec=600
ExecStartPre=flock --verbose --no-fork /run/lock/papermc-taijotain-restic.lock \
  sh -eu -c 'con() { if ! [ "$(stat -c %%C "$2")" = "$1" ]; then (set -x; chcon -Rv "$1" "$2"); fi; }; for path; do con system_u:object_r:container_file_t:s0 "$path"; done' -- /srv/restic-cache /srv/papermc-taijotain-20221008
ExecStart=flock --verbose --no-fork /run/lock/papermc-taijotain-restic.lock \
  docker run --rm \
  --hostname mcraft.taijotain.fi \
  --env-file /path/to/papermc-taijotain-20221008-restic-backup.env \
  -v /srv/restic-cache:/cache \
  -v /srv/papermc-taijotain-20221008:/data \
  papermc-taijotain-restic-backup:local \
  papermc-taijotain-restic check --read-data-subset=0.28%%
